@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.active{
    font-size: 1.1em !important;
    color: #FF1493;
    margin-right: 64px;
}
.h1{
    color: #ffffff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#remenber{
    color: #ffffff;

}
#forgot{
    color: #ffffff;
    margin-left: 130px;
}
.form-inline{

    display: flex;
}
.bg{

    background: url(../images/kk.jpg) no-repeat;
    width: 100%;
    height: 100vh;

}
.form-group{
    border-bottom: 1px solid #fff;
    margin: 8px 0;
    padding: 8px 0;
    font-size: 20px;
    overflow: hidden;
    display: flex;

}

.form-group i{
    float: left;
    text-align: start;
    color: #fff;
    margin: auto;
    width: 26px;


}

.form-group input{

    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    color: #FFF;
    width: 80%;
    float: left;
    margin: 0 10px;

}
.ppara{

    color: #ffffff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 16px;
 }

.form-container{

    border: 1px solid #fff;
    padding: 60px 70px;
    margin-top: 50%;
    margin-left: 50%;
    top: 50%;
    left: 50%;
    position: absolute;


    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.btn-link{

    margin-left: 210px;
    margin-top: 24px;
    font-family: 'Nunito', sans-serif;

}
.lab{
    color: #ffffff;
    display: flex;
    justify-content: end;
    font-family: 'Nunito', sans-serif;
}
.btn{
   width: 80%;
    margin-left: 16px;
    font-family: 'Nunito', sans-serif;


}

.menu{

    float: left;
    position: relative;
}