@import "https://fonts.googleleapis.com/css?family=popins:300,400,500,600,700";



a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar{
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 1px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch ;
}

#sidebar {

    min-width: 250px;
    max-width: 250px;
    background: #343A40;
    transition: all 0.3s;
    color: #fff;
}

#sidebar .siderbar-header{

    padding: 20px;
    background: #47748b;
}

#sidebar ul.components ol{

    padding: 20px 0px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul ol p{

    padding: 10px;
    font-size: 1.1em;
    display: block;

}

#sidebar ul li a{

    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul ol li a {

    color: #7386D5;
    background: #fff;
}
#siebar ul li ol a:hover{
    color: #7386D5;
    background: #fff;
}

#sidebar ul ol li.active
    a[aria-expanded="true"]{
        color: #fff;
    background: #6d7fcc;
    }
a[data-toggle="collapse"]{
    position: relative;
}
.Dropdown-toggle:after{
    display: block;
    position: absolute;
    top: 60%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a{
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #343A40;
}

ul.CTAs{

    padding: 20px;
}

ul.CTAs a{
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download{
    background: #ffffff;
    color: #7386D5;
}

a.article,
a.article:hover{

    background: #6d7fcc !important;
    color: #ffffff !important;
}

#content{

    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;

}

@media (max-width: 768px) {
    #sidebar{margin-left: -250px}
    #sidebar.active{
        margin-left: 0px;
    }
    #siderbarcollapse span{

        display: none;
    }
}


