

html, .bg{
    height: 100%;
    width: 100%;
    font-family: poppins, sans-serif;
    color: #222;
}

#hero{

    padding: 60px 80px 60px;
    margin-top: 20vh;
    color: #ffffff;
    text-align: center;

    height: 40%;
}

.btn{

    color: #ffffff;
    margin-top: 4vh;
}
#para{

    margin-top: 1vh;
}



.carousel-inner img{
    width: 100%;
    height:100%;
}
.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px 15px #000;

}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.btn-primary{
    background-color: #6648b1;
    border: 1px solid #6648b1;
}
.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}

/*section service*/



.section-bg {
  background: #f5f8fd;
    float: initial;
}

#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #FF1493;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}



/*.btn{*/

/*   margin-left: 44vh;*/
/*    color: #ffffff;*/
/*    border: 2px solid #ffffff;*/
/*    */
/*}*/